body {
	width: 100%;
	margin: 0 0;
}

.container {
	width: 100%;
	margin: 0 0;
}

.jumbotron {
	text-align: center;
}

.main .container-fluid {
	text-align: center;
	padding: 10px 0;
	min-height: 100vh;
}

.main .container-fluid:nth-child(even) {
	background-color: rgb(191, 237, 142);
}

.main .container-fluid:nth-child(odd) {
	background-color: rgb(233, 156, 255);
}

.navbar-brand {
	padding: 0;
}

.project-card {
	padding: 0 5%;
}

.project-card p {
	text-align: justify;
	padding: 0 5px;
}

.project-preview {
	max-width: 100%;
}


#name {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

#pasfoto {
	max-width: 50%;
	max-height: 250px;
	border-radius: 50%;
}